# Configurações do Agente RunPod & SSH Remoto
RUNPOD_API_KEY=sua_chave_api_runpod_aqui

# Configurações do Servidor SSH Remoto
SSH_HOST=192.168.2.12
SSH_PORT=22
SSH_USER=mmm
SSH_PASS=sua_senha_aqui

# Configurações da API Local do Agente
AGENT_PORT=5005
AGENT_HOST=0.0.0.0
