[Desktop Entry]
Name=Site_Casa
Comment=Inteligent House
Icon=/usr/share/icons/hicolor/casa.png
Exec=/usr/bin/casa
Terminal=false
Type=Application
Categories=Programming;Others
GenericName=casa
