Package: casasite
Version: 1.0
Depends:  apache2 ,mysql-server, mysql-client,php, libapach2-mod-php, php-mysql, php-curl, php-gd, php-xml, php-mbstring, php-xmlrpc, php-zip, php-soap, php-intl ,debconf, po-debconf
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: maurinsoft.com.br
Description: Inteligent House.
